/* SMALL */
@media only screen and (max-width: 767px) {
    .screen {
        position: relative;
        top: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        height: 75vh;
    }
    
    .cards {
        margin-top: 40px;
        position: relative;
        border-radius: 15px;
        border-style: solid;
        width: 320px;
        height: 100px;
    }
    
    .textContainer {
        position: absolute;
        left: 64px;
        top: 23px;
        width: 210px;
        height: 58px;
        font-size: 0.8em;
        overflow: hidden;
    }
    
    .numberStyle {
        font-weight: 1000;
        font-size: 1.5em;
        position: absolute;
        left: 20px;
        top: 6px;
    }
} 

/* MEDIUM */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .screen {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        margin: auto;
        height: 75vh;
        width: 670px;
    }
    
    .cards {
        position: relative;
        border-radius: 15px;
        border-style: solid;
        width: 205px;
        height: 125px;
    }
    
    .textContainer {
        position: absolute;
        left: 40px;
        top: 25px;
        width: 140px;
        height: 80px;
        font-size: 0.6em;
        overflow: hidden;
    }
    
    .numberStyle {
        font-weight: 1000;
        font-size: 1.5em;
        position: absolute;
        left: 15px;
        top: 12px;
    }

}

/* LARGE  */
@media only screen and (min-width: 1024px) {
    .screen {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        margin: auto;
        height: 75vh;
        width: 900px;
    }
    
    .cards {
        position: relative;
        border-radius: 15px;
        border-style: solid;
        width: 270px;
        height: 175px;
    }
    
    .textContainer {
        position: absolute;
        left: 60px;
        top: 25px;
        width: 170px;
        height: 100px;
        font-size: 0.7em;
    }
    
    .numberStyle {
        font-weight: 1000;
        font-size: 1.7em;
        position: absolute;
        left: 20px;
        top: 6px;
    }

}