/* SMALL */
@media only screen and (max-width: 767px) {

    .container {
        position: relative;
        background-color: black;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px
    }

    .buttonDiv {
        display: none;
        position: absolute;
        background-color: grey;
        left: 10px;
        top: 50px;
        width: 110px;
        height: 80px;
        z-index: 200;
    }

    .smile {
        position: absolute;
        left: 46%;
        background-color: white;
        border-radius: 100%;
    }

    .search {
        color : white;
        position: absolute;
        left: 92%
    }

    .useButton {
        font-size: 0.7em;
        margin-right: 1px;
        background-color: transparent;
    }

    .useButton:hover {
        color: white
    }

    .search {
        color: white
    }

    .hamburger {
        color : white;
        position: absolute;
        left: 2%
    }
}

/* MEDIUM */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .container {
        background-color: black;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px
    }

    .buttonDiv {
        width: 80%;
    }

    .font {
        color : white
    }

    .useButton {
        color: gray;
        font-size: 1.1em;
        margin-right: 60px;
        background-color: transparent;
    }

    .useButton:hover {
        color: white;
        background-color: transparent;
    }

    .useButton:hover {
        color: white
    }

    .search {
        color: white;
        margin-right: 15px
    }

    .smile {
        margin-left: 15px;
        background-color: white;
        border-radius: 100%;
    }

    .hamburger {
        display: none
    }
}
   

/* LARGE  */
@media only screen and (min-width: 1024px) {

    .container {
        position: relative;
        background-color: black;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px
    }

    .buttonDiv {
        width: 80%;
    }

    .font {
        color : white
    }

    .useButton {
        color: gray;
        font-size: 1.1em;
        margin-right: 60px;
        background-color: transparent;
    }

    .useButton:hover {
        color: white;
        background-color: transparent;
    }

    .useButton:hover {
        color: white
    }

    .search {
        color: white;
        margin-right: 15px
    }

    .smile {
        color : white;
        margin-left: 15px;
        background-color: white;
        border-radius: 100%;
    }

    .hamburger {
        display: none
    }
}